@charset "utf-8";

#contenedor{
    width: 300px;
    position: relative;
    margin: auto;
    float: left;
    padding: 30px;
    border: 2px solid #F00;
}
#contenedorVotos{
    width: 500px;
    position: relative;
    margin: auto;
    float: left;
    padding: 30px;
    border: 2px solid #F00;
}